:root {
  --primary-text-color: #212121;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-text-color: #757575;
  --primary-grey-color: #2f303a;
  --secondary-white-color: #f5f5f5;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

.section {
  padding: 94px 0;
}

.section__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.section__title--hidden {
  display: none;
}

.section__filter {
  display: flex;
  margin-bottom: 50px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  height: 80px;
}

.header__contact-link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  margin-right: 50px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact-link:hover, .header__contact-link:focus {
  color: var(--accent-color);
}

.header__contact {
  display: flex;
  margin-left: auto;
}

.header__contact li:last-child .header__contact-link {
  margin-right: 0;
}

.header__icon-header {
  fill: currentColor;
  margin: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__icon-header:hover, .header__icon-header:focus {
  color: var(--accent-color);
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__menu {
  display: flex;
}

.navigation__link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
  margin-right: 50px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.navigation__menu li:last-child .navigation__link {
  margin-right: 0;
}

.navigation__link--active {
  color: var(--accent-color);
}

.navigation__link--active::after {
  content: "";
  background-color: #2196f3;
  border-radius: 2px;
  height: 4px;
  display: block;
  position: absolute;
  top: 45px;
  width: 100%;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo_header {
  margin-right: 93px;
}

.logo__black {
  color: #000000;
  font-family: Raleway, sans serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo__white {
  color: var(--primary-white-color);
  font-family: Raleway, sans serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.service .container {
  display: flex;
  justify-content: center;
}

.service {
  height: 600px;
  max-width: 1600px;
  padding-top: 200px;
  margin: 0 auto;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/new-photo.jpg);
  background-size: 1600px auto;
  background-position: center center;
  background-repeat: no-repeat;
}

.service__wrapper {
  display: flex;
  width: 696px;
  flex-direction: column;
  align-items: center;
  max-width: 696px;
}

.service__title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  text-align: center;
  text-transform: uppercase;
}

.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  width: 216px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto 0;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background-color: #188ce8;
}

.button--subscribe {
  margin: 0 0 0 12px;
  width: 200px;
}

.button--form {
  align-self: center;
  width: 200px;
  margin-top: 30px;
}

.features__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.features__list {
  display: flex;
}

.features__item {
  margin-right: 30px;
  max-width: 270px;
}
.features__item:last-child {
  margin-right: 0;
}

.features__icons {
  background-color: #f5f4fa;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.features__list .features__text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.7;
}

.skils__section {
  padding-top: 0;
}

.skils__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.skils__list {
  display: flex;
}

.skils__item {
  margin-right: 30px;
  position: relative;
}
.skils__item:last-child {
  margin-right: 0;
}

.skils__overlay {
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.skils__overlay-title {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.team {
  background-color: #f5f4fa;
}

.team__name-title {
  margin: 30px 0 10px 0;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team__list {
  display: flex;
}

.team__item {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:last-child {
  margin-right: 0;
}

.team__card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.team__text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team__link-svg {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link-svg:hover, .team__link-svg:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.team__icon {
  fill: currentColor;
}

.team__social-icons {
  display: flex;
  margin-top: 16px;
}

.clients__title {
  color: #212121;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.clients__list {
  display: flex;
  justify-content: space-between;
}

.clients__svg {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__svg {
  color: #afb1b8;
}
.clients__svg:hover, .clients__svg:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.clients__icon-logo {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
}

.footer__container {
  padding: 60px 0;
  display: flex;
}

.footer__title {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.footer__social {
  display: flex;
  margin-top: 20px;
}

.footer__icon-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__icon-link:hover, .footer__icon-link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.footer__icon-logo {
  fill: currentColor;
}

.footer__icon {
  margin-right: 10px;
}

.footer__block {
  margin-left: 70px;
  width: 210px;
  margin-left: 70px;
  margin-top: 12px;
}

.footer__logo {
  margin-bottom: 20px;
  display: block;
}

.footer__main {
  min-width: 240px;
}

.footer__address-link {
  color: var(--primary-white-color);
  font-size: 14px;
  font-style: normal;
  line-height: 1.17;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__address-link:hover, .footer__address-link:focus {
  color: var(--accent-color);
}

.footer__contact-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  line-height: 1.17;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__contact-link:hover, .footer__contact-link:focus {
  color: var(--accent-color);
}

.footer__address-item {
  margin-bottom: 9px;
}
.footer__address-item:last-child {
  margin-bottom: 0;
}

.footer__subscribe {
  margin: 12px 0 0 93px;
}

.footer__form-subscribe {
  margin-top: 20px;
  display: flex;
}

.footer__icon-telegram {
  margin-left: 10px;
  fill: #ffffff;
}

.footer__form-field {
  background-color: #2f303a;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  line-height: 50px;
  padding: 15px 16px;
}

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__btn {
  color: #000000;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.modal__btn-icon {
  fill: currentColor;
}
.modal__btn-icon:focus, .modal__btn-icon:hover {
  color: #2196f3;
}

.modal__title {
  color: #212121;
  width: 448px;
  height: 23px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal__content {
  padding: 40px;
}

.order-form {
  margin: 0 auto;
  background: #ffffff;
  display: flex;
  flex-direction: column;
}

.order-form__group {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}

.order-form__icon {
  fill: #212121;
  position: absolute;
  bottom: 11px;
  left: 12px;
}

.order-form__label {
  color: #757575;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.order-form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding: 0 15px 0 42px;
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form__input:focus {
  border: 1px solid #2196f3;
  outline-color: transparent;
}

.order-form__text {
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form__text:focus {
  border: 1px solid #2196f3;
  outline-color: transparent;
}

.order-form__input:focus + .order-form__icon {
  fill: #2196f3;
}

.order-form__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  bottom: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.order-form__checkbox-label {
  display: flex;
  align-items: center;
  margin-left: 12px;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.order-form__checkbox-icon {
  fill: transparent;
  border: 2px solid #212121;
  border-radius: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 8px;
}

.order-form__checkbox:checked + .order-form__checkbox-label > .order-form__checkbox-icon {
  border: none;
  fill: #2196f3;
}

.order-form__link {
  color: #2196f3;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-left: 5px;
}

.portfolio__filter-item {
  margin-right: 8px;
}
.portfolio__filter-item:last-child {
  margin-right: 0;
}

.portfolio__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio__filter-button {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  padding: 0 25px;
  height: 38px;
  left: 593px;
  top: 174px;
  font-family: inherit;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__filter-button:hover, .portfolio__filter-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__filter-button--active {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.portfolio__title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.portfolio__list .portfolio__text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.portfolio__item {
  display: flex;
  flex-direction: column;
  width: 370px;
  height: 404px;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover, .portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__box-overlay {
  background: rgba(33, 150, 243, 0.9);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover .portfolio__box-overlay, .portfolio__item:focus .portfolio__box-overlay {
  transform: translateY(0);
}

.portfolio .section-title {
  display: none;
}

.portfolio__box {
  overflow: hidden;
  height: 294px;
  position: relative;
}

.portfolio__box-text {
  color: #ffffff;
  width: 322px;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.portfolio__card {
  height: 110px;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}/*# sourceMappingURL=main.css.map */