@import "./utils/vars";
@import "./utils/general";
@import "./components/mobile-menu";
@import "./components/section";
@import "./components/header";
@import "./components/container";
@import "./components/navigation";
@import "./components/logo";
@import"./components/service";
@import "./components/button";
@import "./components/features";
@import "./components/skils";
@import "./components/team";
@import "./components/clients";
@import "./components/footer";
@import "./components/modal";
@import "./components/order-form";
@import "./components/portfolio";

$mobile: 479.98px;
$tablet: 767.98px;
$desctop: 1199.98px;































