.clients__title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap:30px;
}

.clients__item {
  width:calc((100% - 30px) / 2);

  @media screen and (min-width: $tablet) {
    width:calc((100% - 60px) / 3);
  }

  @media screen and (min-width: $desktop) {
    width:auto;
    max-width: 170px;
  }
}

.clients__svg {
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__svg {
  color: #afb1b8;

  &:hover,
  &:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}
}

.clients__icon-logo {
  fill: currentColor;
  height: 100%;
}
