.header {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
  height: 60px;

  @media screen and (min-width: $tablet) {
    height: 80px;
  }
}

.header__contact-link {
  height: 24px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: $desktop) {
    margin-right:50px;
  }
}

.header__contact {
  display: none;
  margin-left: auto;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
  }
}
.header__contact li:last-child .header__contact-link {
  margin-right: 0;
}
.header__icon-header {
  fill: currentColor;
  margin: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
