.logo {
  color: var(--accent-color);
  font-family: Raleway, sans serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo_header {
  margin-right: 88px;

  @media screen and (min-width: $desktop) {
    margin-right: 93px;
  }
}

.logo__black {
  color: #000000;
  font-family: Raleway, sans serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.logo__white {
  color: var(--primary-white-color);
  font-family: Raleway, sans serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
