.menu-toggle {
    background-color: #FFFFFF;
    border: none;
}

.menu-container {
    display: none;
    &.is-open {
        top:0;
        display:flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        background:#FFFFFF;
    }
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    width:100%;
    padding:48px 40px;
}

.mobile-menu__btn {
    position: absolute;
    top:10px;
    right:15px;
    width:40px;
    height: 40px;
    border: none;
    padding:0;
}

.mobile-menu__btn-icon {

    color: #212121;
    cursor: pointer;

    &:focus,
    &:hover{
        color: #2196F3;
    }
}

.mobile-menu__link {
    display: block;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    margin-bottom: 35px;

    &:focus,
    &:hover,
    &.mobile-menu__link--active {
        color: #2196F3;
    }
}

.mobile-menu__bottom {
    margin-top:auto;
}

.mobile-menu__contact_link {
    display: block;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196F3;
    text-decoration: none;
}

.mobile-menu__email {
    margin-top:32px;
    font-size: 24px;
    line-height: 1.16;
    color: #757575;
}

.mobile-menu__social {
    display: flex;
    flex-wrap: wrap;;
    margin-top:64px;
}



.mobile-menu__social-link {
    display: block;
    padding:0 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
     text-decoration: none;
}

.mobile-menu__social-item {
    &:first-child .mobile-menu__social-link{
        padding-left:0;
    }

    &:last-child .mobile-menu__social-link{
        border-right: none;
        padding-right:0
    }
}
