.service .container {
  display: flex;
  justify-content: center;
}
.service {
  height: 400px;
  max-width: 1600px;
  padding-top: 118px;
  margin: 0 auto;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/header-mobile-1x.jpg);
  background-size: 1600px auto;
  background-position: center center;
  background-repeat: no-repeat;

  @media screen and (min-width: 481px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/header-tablet-1x.jpg);
  }

  @media screen and (min-width: 769px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/header-desktop-1x.jpg);
  }

  @media screen and (max-width: $mobile) {
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/header-mobile-2x.jpg);
    }
  }

  @media screen and (max-width: $tablet) {
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/header-tablet-2x.jpg);
    }
  }

  @media screen and (max-width: $desktop) {
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/header-desktop-2x.jpg);
    }
  }

  @media screen and (min-width: $desktop) {
    height: 600px;
    padding-top: 200px;
  }
}
.service__wrapper {
  display: flex;
  width: 696px;
  flex-direction: column;
  align-items: center;
  max-width: 696px;

}
.service__title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: $desktop) {
    font-size: 44px
  }
}
