.skils__section {
  padding-top: 0;
}

.skils__title {
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.skils__list {
  display: flex;
}

.skils__item {
  margin-right: 30px;
  position: relative;


  &:last-child {
    margin-right: 0;
  }
}
.skils__overlay {
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.skils__overlay-title {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.03em;
}
