.team {
  background-color: #f5f4fa;
}

.team__name-title {
  margin: 30px 0 10px 0;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team__list {
  display: flex;
}

.team__item {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  &:last-child {
    margin-right: 0;
  }
}

.team__card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.team__text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team__link-svg {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #2196f3;
    color: #ffffff;
  }
}

.team__icon {
  fill: currentColor;
}

.team__social-icons {
  display: flex;
  margin-top: 16px;
}
