body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}
img {
  display:block;
  width:100%;
  height:auto;
}