$mobile: 479.98px;
$tablet: 767.98px;
$desktop: 1199.98px;

:root {
  --primary-text-color: #212121;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-text-color: #757575;
  --primary-grey-color: #2f303a;
  --secondary-white-color: #f5f5f5;
}
